$board-bg-color: #b8e1ff;
$navbar-app-bg-color: #a1c9f1;
$navbar-board-bg-color: #b9d8f3;
$board-columns-bg-color: #ebecf0;
$scoll-bg-color: rgba(#ccc, 0.5);
$main-text-color: #333;
$do: #ff0000;
$low: #ff0000;
$medium: #ffd700;
$high: #228b22;
$task-bg-color: #fff;

$header-height: 36px;
$footer-height: 36px;
$radius: 8px;

$gap: 10px;

$appbar-height: 5vh;
$boardbar-height: 6vh;
$boardContent-height: 89vh;
